@import url('https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');

* {
  font-family: 'Galmuri11';
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: url('/src/assets/icons/cursor.svg'), auto;
}

button {
  cursor: url('/src/assets/icons/cursor.svg'), auto;
}

/* TODO font-size */
@media (min-width: 768px) {
  body {
    font-size: 8px;
  }
}

@media (min-width: 1280px) {
  body {
    font-size: 22px;
  }
}

@media (min-width: 1280px) {
  body {
    font-size: 22px;
  }
}

@media (min-width: 5120px) {
  body {
    font-size: 33px;
  }
}
